@media (max-width: 480px) {
  .container-flexibilidade {
    width: auto;
    max-width: 420px;
    margin: 0 auto;
  }
  .intro-flexibilidade {
    font-size: 12px;
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 0 20px;
  }
  .skip-mobile {
    display: none;
  }
  .grid-flexibilidade {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .grid-flexibilidade div:nth-child(3) {
    padding-top: 40px;
  }
  .domestico-img {
    padding-top: 40px;
    grid-row: 3;
  }
  .domestico-img img,
  .campo-img img {
    border-radius: 10px 10px 0 0;
  }
  .bg-domestico,
  .bg-campo {
    background: linear-gradient(
      180deg,
      rgba(16, 120, 16, 0.4) 0%,
      rgba(16, 121, 16, 0.1) 30%,
      rgba(16, 121, 16, 0.1) 70%,
      rgba(16, 121, 16, 0.08) 80%,
      rgba(16, 121, 16, 0) 100%
    );
  }
  .config-img::before {
    display: none;
  }
  .quote-flexibilidade {
    margin: 40px auto 40px auto;
    max-width: 320px;
    padding: 0 20px;
  }
  .text-call-flexibilidade {
    font-size: 0.65rem;
  }
  .plano-desc {
    padding: 0 0 20px 0;
  }
  .plano-desc.bg-campo {
    background: linear-gradient(
      180deg,
      rgba(80, 50, 30, 0.4) 0%,
      rgba(80, 50, 30, 0.2) 30%,
      rgba(80, 50, 30, 0.1) 70%,
      rgba(80, 50, 30, 0.08) 80%,
      rgba(80, 50, 30, 0) 100%
    );
  }
  .plano-desc button {
    padding: 12px 10px !important;
  }
  .outros-planos {
    margin: 1.25rem auto 4rem auto;
    max-width: 20rem;
    padding: 0 20px;
  }
}
