@media (max-width: 480px) {
  .landpage-call::before,
  .landpage-call::after {
    animation: none;
  }

  .bg-landpage {
    padding-top: 1px;
    /* background: linear-gradient(179.59deg, rgba(217, 217, 217, 0) 64.78%, rgba(16, 121, 16, 0.23) 99.65%); */
  }
  .container-landpage {
    max-width: 100%;
    width: auto;
    /* padding: 0 20px; */
    margin: 40px auto 0 auto;
  }
  .pseudoquote-landpage {
    font-size: 14px;
    margin: 60px auto 0 auto;
    max-width: 100%;
    width: auto;
    padding: 30px 20px;
    text-align: center;
  }
  .pseudoquote-landpage::before {
    left: 8rem;
  }
  .pseudoquote-landpage::after {
    top: 6.25rem;
    height: 0.062rem;
    left: 2.75rem;
  }
  .landpage-gato {
    display: grid;
    overflow: hidden;
  }
  .landpage-gato div {
    display: none;
    grid-template-columns: 1fr;
    gap: 10px 0;
    padding: 20px 0;
  }
  .landpage-gato img {
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    grid-row: 2;
    /* padding: 0 10px; */
    object-fit: cover;
    object-position: center;
  }
  .landpage-gato::before {
    top: 4rem;
  }
  .landpage-gato::after {
    content: '﹀';
    font-size: 36px;
    text-align: center;
    position: absolute;
    color: #ffffff;
    height: 26px;
    width: 34px;
    top: 85%;
    left: 45%;
    /* opacity: 90%; */
    z-index: 2;
    animation: downArrow 2s infinite alternate;
  }

  @keyframes downArrow {
    from {
      transform: translate3d(0, -10px, 0);
    }
    to {
      transform: translate3d(0, -20px, 0);
    }
  }
  .landpage-gato p {
    text-align: center;
    margin: 0 auto;
    width: 16rem;
  }
  .landpage-gato button {
    margin: 0 auto 40px auto;
  }
}
