.container-flexibilidade {
  width: 60rem;
  margin: 0 auto;
}

.intro-flexibilidade {
  margin: 2.5rem auto 0 auto;
  color: #676767;
  max-width: 43.75rem;
}

.grid-flexibilidade {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 22.5rem 22.5rem;
  gap: 1.875rem 0;
  justify-content: center;
}

.plano-desc {
  width: 100%;
  display: grid;
  place-items: center;
  padding-bottom: 16px;
}

.bg-domestico {
  background: linear-gradient(
    270deg,
    rgba(16, 121, 16, 0.15) 0%,
    rgba(232, 251, 232, 0) 100%
  );
}

.bg-campo {
  background: linear-gradient(
    90deg,
    rgba(171, 109, 67, 0.4) 0%,
    rgba(232, 251, 232, 0) 100%
  );
}

.plano-desc h2 {
  margin-top: 1rem;
}

.quote-flexibilidade {
  margin: 0.625rem auto 0 auto;
  font-size: 0.625rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: #4e4e4e;
  max-width: 18.75rem;
  position: relative;
  line-height: 0.813rem;
  letter-spacing: 0.02rem;
}
.quote-flexibilidade::before,
.quote-flexibilidade::after {
  content: '';
  width: 9.375rem;
  height: 0.063rem;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 0, 0) 0%,
    #00ff00 51.35%,
    rgba(0, 255, 0, 0) 100%
  );
  position: absolute;
}

.dec-campo.quote-flexibilidade::before,
.dec-campo.quote-flexibilidade::after {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 0, 0) 0%,
    #ab6d43 51.35%,
    rgba(0, 255, 0, 0) 100%
  );
}

.quote-flexibilidade::before {
  top: -0.625rem;
  left: 5rem;
}

.quote-flexibilidade::after {
  top: 2.875rem;
  left: 1.25rem;
}

.text-call-flexibilidade {
  align-self: end;
  text-align: center;
  font-size: 0.75rem;
  margin-top: 0.625rem;
  margin-bottom: 16px;
  color: #4e4e4e;
}

.plano-desc button {
  justify-self: center;
  margin-bottom: 1rem;
  position: relative;
}

.config-img {
  max-width: 100%;
  display: block;
  position: relative;
}

.config-img::before {
  content: '';
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125rem;
  position: absolute;
  width: 100%;
  height: 0rem;
  top: 10.688rem;
  left: 0rem;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0rem 0rem 0.375rem 0rem;
}

.campo-img.config-img::before {
  content: 'Animais do Campo';
}
.domestico-img.config-img::before {
  content: 'Animais Domésticos';
}

.outros-planos {
  margin: 1.25rem auto 2.5rem auto;
  max-width: 25rem;
  text-align: center;
  font-size: 0.625rem;
  color: #4e4e4e;
}

.custom-link:hover {
  text-decoration: underline;
}

@media (min-width: 1240px) {
  .intro-flexibilidade {
    max-width: 77.5rem;
    font-size: 1.3rem;
    margin: 3.75rem auto 3.75rem auto;
  }
  .grid-flexibilidade {
    grid-template-columns: 28.75rem 28.75rem;
  }
  .quote-flexibilidade {
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: 0;
    max-width: 25rem;
  }
  .quote-flexibilidade::after,
  .quote-flexibilidade::before {
    height: 0.031rem;
  }
  .quote-flexibilidade::before {
    top: -0.8rem;
    left: 9.5rem;
  }
  .quote-flexibilidade::after {
    top: 4.2rem;
    left: 2rem;
  }
  .text-call-flexibilidade {
    font-size: 0.8rem;
  }
  .config-img::before {
    top: 14.75rem;
  }
  .outros-planos {
    font-size: 0.75rem;
    max-width: 28rem;
  }
}
