.bg-banner {
  margin-top: 11px;
  background: radial-gradient(100% 1947.29% at 0% 50.18%, rgba(255, 255, 255, 1) 2%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 80%, rgba(255, 255, 255, 1) 99%);
  max-width: 1800px;
  margin: 0 auto;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 960px;
  margin: 0 auto;
}

.banner-title {
  align-self: end;
  width: 100%;
  padding: 16px 0;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5) ;
  text-align: center;
  grid-row: 1;
  grid-column: 1;
}

@media (min-width: 1240px) {
  .banner {
    max-width: 1240px;
  }
  .banner img {
    width: 1240px;
  }
}

@media (max-width: 480px) {
  .bg-banner{
    opacity: .95;
  }
  .banner img {
    height: 200px;
    object-fit: cover;
  }
}