@media (max-width: 480px) {
  .intro-avaliacao {
    font-size: 16px;
    padding: 0 8px;
    margin-bottom: 40px;
  }
  .grid-avaliacao {
    grid-template-columns: 96%;
    gap: 50px 0 ;
    margin: 60px auto;
    justify-content: center;
  }
  .bg-avaliacao {
    background: rgba(0, 48, 0, .8);
    max-width: 100%;
    border-radius: 6px;
    box-shadow: inset 110px 10px  #ffffff, inset -30px -10px #ffffff;
  }
  .bg-avaliacao.lado-direito {
  box-shadow: inset 28px 10px #ffffff, inset -114px -14px #ffffff;
  }
  .subgrid-avaliacao {
    grid-template-columns: 80px 1fr 1fr;
    padding: 0 8px;
  }
  .lado-direito.subgrid-avaliacao {
    grid-template-columns: 1fr 1fr 80px;
  }
  .subgrid-avaliacao img {
    max-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    /* box-shadow: 0px 2px 6px rgba(16, 121, 16, .6); */
    outline: 4px solid rgba(0, 160, 0, .2);
    outline-offset: -0.05rem;
  }
  .subgrid-avaliacao img:hover {
    width: 100px;
  }
  .subgrid-avaliacao p {
    /* word-break: break-all; */
    /* max-width: 100%; */
    font-size: 14px;
    line-height: 1.4em;
    padding: 20px 16px;
    grid-column: 2 / 4;
    text-shadow: 1px 1px black;
  }
  .subgrid-avaliacao p::before, .subgrid-avaliacao p::after {
    opacity: .2;
  }
  .subgrid-avaliacao p::before {
    left: -12%;
    top: -10%;
  }
  .subgrid-avaliacao p::after {
    left: 100%;
    top: 96%;
  }

  .subgrid-avaliacao h3 {
    grid-row: 1;
    grid-column: 1;
    max-width: 60px;
    top: 0%;
    padding-top: 70px;
    color: rgba(0, 160, 0, .6);
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .1);
    /* color: rgba(0, 0, 0, .7); */
    font-size: 14px;
    /* font-style: normal; */
    /* font-family: sans-serif; */
    font-weight: bold;
    left: 2%;
  }
  .lado-direito.subgrid-avaliacao h3 {
    left: 10%;
    top: 0%;
    /* max-width: 19px; */
    grid-row: 1;
    grid-column: 3;
  }
  .text-call-avaliacao {
    max-width: 320px;
    padding: 0 16px;
    text-align: center;
  }
  .text-call-avaliacao p {
    font-size: 12px;
  }
  .text-call-avaliacao a {
    font-size: 14px;
  }
  .text-call-avaliacao button {
    padding: 4px 12px 10px 12px !important;
  }
}