@media (max-width: 600px) {
  .container-navbar {
    display: block;
    width: 100vw;
    position: relative;
  }
  .logo {
    margin: 0 auto;
  }
  .logo img {
    margin: 0;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    padding: 0px 0 0 0;
    margin: 0 0 0 0;
  }
  .navbar-menu li {
    margin: 0px;
  }
  .navbar-menu li a {
    padding: 16px 20px;
    transition: 0.1s ease;
    width: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    text-align: center;
    position: relative;
    padding: 18px 10px;
    font-size: 10px;
    display: block;
    background-color: #ffffff;
    /* margin-top: 1px; */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .navbar-menu li a:hover {
    background-color: rgba(0, 150, 0, 1);
    color: #ffffff;
  }
  .navbar-menu li a::before, .navbar-menu li a::after {
    display: none;
  }
  .hamburguer-container {
    position: absolute;
    top: 0%;
    left: 1%;
  }
  .menu.menuOpen {
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    top: 10%;
    left: -5px;
    background: rgba(16, 121, 16, 1);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 1px -10px 100px black;
    border-radius: 0;
    padding: 60px 0px 0px 0px;
  }
  .icon {
    position: absolute;
    z-index: 4;
    top: 16px;
    left: 1%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .hamburguer {
    width: 22px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #107910;
    top: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin-top: -4px;
  }
  .hamburguer::before {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #107910;
    top: -8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .hamburguer::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #107910;
    top: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
  }
  .icon.iconActive {
    left: 100px;
    top: 10px;
  }
  .icon.iconActive::before {
    content: 'Menu';
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: -190%;
    width: 100%;
    height: 16px;
  }
  .icon.iconActive .hamburguer {
    background: transparent;
    box-shadow: 0 2px 6px transparent;
  }
  .icon.iconActive .hamburguer::after {
    top: 0;
    left: 90%;
    border-radius: 0;
    position: absolute;
    background-color: rgba(250, 250, 250, 1);
    width: 20px;
    transform: rotate(225deg);
  }
  .icon.iconActive .hamburguer::before {
    top: 0;
    left: 90%;
    border-radius: 0;
    background-color: rgba(250, 250, 250, 1);
    width: 20px;
    transform: rotate(135deg);
  }
  /* .menu.menuOpen {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 150px;
    height: 280px;
    background: #ffffff;
  } */
  /* .menu.menuOpen ul::before {
    content: '';
    height: 40px;
    width: 100%;
    background-color: #107910;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
  } */
  /* .menu.menuOpen ul li a {
  } */
  .menu.navbar-menu li a.active {
    color: #ffffff;
    background-color: #107910;
  }
  .menu.menuClose {
    display: none;
    width: 0px;
    transition: .5s ease;
  }
}