.contato-container {
  max-width: 960px;
  margin: 0 auto;
}

.contato-container p {
  font-size: 20px;
  color: #676767;
  text-align: center;
}

.contato-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto 120px auto;
  justify-items: center;
  position: relative;
}
.contato-grid form::after {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  border-right: 1px solid #107910;
}

.contato-grid form {
  width: 400px;
  margin: 0 auto;
  justify-self: center;
}

.contato-grid label {
  display: block;
  margin-top: 20px;
  margin-bottom: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  width: 100%;
}

.contato-grid input,
.contato-grid textarea {
  border: 1px solid #107910;
  border-radius: 4px;
  background-color: rgba(16, 121, 16, 0.05);
  resize: none;
  padding: 8px;
  width: 85%;
  transition: 0.3s ease;
}

.contato-grid input:focus,
.contato-grid textarea:focus {
  outline: none;
  border: 1px solid #00ca00;
  box-shadow: 0px 0px 4px rgba(0, 202, 0, 0.8);
}

.contato-grid input:hover,
.contato-grid textarea:hover {
  border: 1px solid #00ca00;
  box-shadow: 0px 0px 4px rgba(0, 202, 0, 0.8);
}

.contato-grid button {
  display: block;
}

.contato-grid button::after {
  content: '';
  background: url('../../img/svg/btn-dec.svg');
  background-repeat: no-repeat;
  background-position: cover;
  position: absolute;
  width: 75px;
  height: 85px;
  top: 30%;
  left: 100%;
  z-index: 0;
}

.contato-info {
  display: grid;
  width: 100%;
  justify-items: center;
}

.contato-lista li {
  font-size: 20px;
  color: #676767;
  list-style: disc;
}

.contato-redes {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  max-width: 300px;
}

.contato-redes li {
  width: 120px;
  background: linear-gradient(
    180deg,
    rgba(237, 236, 236, 0.77) 0.01%,
    rgba(213, 213, 213, 0.7) 0.02%,
    rgba(225, 225, 225, 0.5) 0.03%,
    #ffffff 48.75%,
    rgba(255, 255, 255, 0.4) 100%
  );
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
  margin: 0 auto 10px auto;
  transition: 0.5s ease;
  border-radius: 4px;
  position: relative;
}

.contato-redes li:hover {
  background: linear-gradient(
    180deg,
    rgba(237, 236, 236, 0.87) 0.01%,
    rgba(213, 213, 213, 0.78) 0.02%,
    rgba(225, 225, 225, 0.56) 0.03%,
    #ffffff 48.75%,
    rgba(255, 255, 255, 0.48) 100%
  );
  box-shadow: 1px 1px 16px rgba(200, 200, 200, 1);
  width: 300px;
}

.contato-redes li::after {
  content: '';
  font-weight: 100;
  width: auto;
  height: auto;
  color: #676767;
  filter: drop-shadow(0 0 2px rgba(200, 200, 200, 0.6));
  font-size: 30px;
  position: absolute;
  top: 30%;
  right: 6px;
  z-index: 3;
  cursor: pointer;
}

.contato-redes li:not(:hover)::after {
  content: '>';
}

.contato-redes li a img {
  padding: 16px 0 16px 10px;
}

.contato-redes li:hover a img {
  filter: drop-shadow(0 0 0.5rem rgba(0, 255, 0, 0.5)) brightness(1.5);
}

.contato-redes li a {
  position: relative;
}

.contato-redes li a p {
  font-size: 14px;
  /* max-width: 20ch; */
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  color: #676767;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.contato-redes li:hover a p {
  opacity: 1;
}
