.bg-footer {
  background-color: #0f0f0f;
}

.container-footer {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.grid-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.informativo-footer p,
.informativo-footer li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: #676767;
}

.informativo-footer p {
  margin-bottom: 8px;
  color: #c2c2c2;
}

.informativo-footer li {
  list-style: disc;
  margin-left: 20px;
  line-height: 20px;
}

.informativo-footer li:hover {
  color: #ffffff;
}

.redes-sociais {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.redes-sociais img {
  max-width: 42px;
}

.redes-sociais img:hover {
  filter: saturate(5);
}

.copy {
  height: 60px;
  width: 100%;
  background-color: #107910;
}

.copy p {
  color: solid black;
  text-align: center;
  padding-top: 20px;
}