/* titles */
.title {
  font-family: 'Arsenal', sans-serif;;
  color: #107910;
  position: relative;
}

.title::before {
  content: '__';
  color: transparent;
  background: url('./img/svg/titulo-dec.svg');
  background-position: left bottom;
  background-size: cover;
  position: absolute;
  margin-left: -6px;
  background-repeat: no-repeat;
}
