/* Arsenal 400 regular */
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

.container-landpage {
  width: 960px;
  margin: 0 auto;
}

.bg-landpage {
  background: linear-gradient(to left, rgba(255,255,255,1) 20%, rgba(230,230,230,1) 50%, rgba(255,255,255,1) 80%);
  padding-top: 40px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .15);
}

/* pseudo quotes */
.pseudoquote-landpage {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  width: 420px;
  color: #4E4E4E;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  padding: 30px;
  background: radial-gradient(80% 60% at 50% 50%, rgba(222, 255, 216, 0.4) 0%, rgba(217, 217, 217, 0) 100%);
}

.pseudoquote-landpage::after,
.pseudoquote-landpage::before {
  content: '';
  width: 150px;
  height: 1px;
  background: url('./img/svg/pseudoquote-dec.svg');
  position: absolute;
}

.pseudoquote-landpage::before {
  top: 10px;
  left: 160px;
}

.pseudoquote-landpage::after {
  top: 90px;
  left: 100px;
}

.enfase {
  color: #25AD25;
}

.enfase-quote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #25AD25;
}

/* photo */
.landpage-gato {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

.landpage-gato::before {
  content: '';
  position: absolute;
  background: linear-gradient(180deg, rgba(16, 121, 16, 0.2) 21.54%, rgba(16, 121, 16, 0) 70%);
  width: 600px;
  height: 200px;
  left: 100px;
  top: 80px;
  border-radius: 50%;
}

.landpage-gato img {
  flex: 2;
  max-width: 470px;
  z-index: 1;
}


.landpage-gato p {
  flex: 1;
  width: 170px;
  color: #4E4E4E;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.landpage-gato button {
  margin-left: 60px;
}